.filter-list {
    display: flex;
    justify-content: center;
    margin: 0 auto 50px;
}

.filter-list__item {
    margin-right: 8px;

    &:last-child {
            margin-right: 0;
        }
}

.filter-list__button {
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;

    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    font-family: inherit;

    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

        &:hover,
            &:focus {
                color: var(--white-color);
                background-color: var(--accent-color);
                box-shadow: var(--secondary-btn-shadow);
            }
}

