.hero {
    margin: 0 auto;
    max-width: 480px;
    min-height: 400px;
    padding: 118px 30px;
    background-color: $heroBackground;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/smartphone/hero-mobimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        & {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/smartphone/hero-mobimg@2x.jpg');
        }
    }

    @media screen and (min-width: 481px) {
        max-width: 768px;
        padding: 118px 60px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/tablet/hero-tabimg.jpg');
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url('../images/tablet/hero-tabimg@2x.jpg');
            }
        }
    }

    @media screen and (min-width: 769px) {
        // max-width: 1600px;
        // min-height: 600px;
        // padding: 200px 0;
        max-width: 1199px;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/desktop/hero-deskimg.jpg');
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url('../images/desktop/hero-deskimg@2x.jpg');
            }
        }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
            min-height: 600px;
            padding: 200px 0;
    }

    &__title {
        max-width: 360px;
        margin: 0 auto 30px;
        color: $contrastColor;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;

        @media screen and (min-width:1200px) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        padding: 10px 32px;
        background-color: $accentColor;
        color: $contrastColor;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        font-family: inherit;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        transition: background-color 250ms $transitionCubic;

        &:hover,
        &:focus {
            background-color: $buttonAccent;
        }
    }
}