/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Стилі для обнулення базових властивостей у списків (ul) */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}